@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --primary: #000;
}

@layer utilities {
    .pause-anim {
        animation-play-state: paused !important;
    } 
    .run-anim {
        animation-play-state: running !important;
    } 
}